@import "../style-config/mixins.scss";
@import "../style-config/variable.scss";

.contact_content_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 3rem;
  max-width: 1200px;
  margin: 3rem auto 0;

  @media only screen and (max-width: 1300px) {
    flex-direction: column;
    gap: 2rem;
  }
}
